.stack-work/
tags

prototype/dist/
prototype/dist-newstyle/
prototype/cabal.project.local*
prototype/result

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.nav
*.snm
*.toc
*.vrb
*.bbl
*.blg
*.lof
*.lot

thesis/*.pdf
reports/*.pdf
presentations/*.pdf
